.egin-home {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &-content {
    padding: 15px;
    margin-top: 15px;
    width: 400px;
    background-color: white;
    h1 {
      margin-top: 0.1em;
      margin-bottom: 0;
    }
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    vertical-align: middle;
    img {
      height: 1em;
      width: 1em;
      margin-right: 0.1em;
      margin-bottom: 0.1em;
    }
  }

  &-backend-title {
    margin-bottom: 0;
    border-bottom: 1px solid #0000001c;
    padding: 0 8px 0.2em 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      width: 1.3em;
      height: 1.3em;
      vertical-align: bottom;
      margin-right: 0.2em;
    }

    > span {
      flex-grow: 1;
    }

    > button {
      appearance: none;
      -webkit-appearance: none;
      border: none;
      margin: 0;
      padding: 0 0.4em 0.1em 0.4em;
      font-size: 1em;
      float: right;
      line-height: 1em;
      align-self: stretch;
      color: black;
      background-color: whitesmoke;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #eee;
      }

      &.is-login {
        font-size: 0.8em;
        padding: 0 0.5em 0.1em 0.5em;
      }

      > img {
        height: 0.8em;
      }
    }
  }

  &-tasklist-link {
    display: block;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #0000001c;
    padding: 0.3em 0 0.38em 8px;

    &:hover {
      background-color: whitesmoke;
    }
  }

  &-tasklist-loading {
    margin-left: 8px;
  }

  &-footer {
    margin-top: 30px;
    font-size: 0.8em;
    text-align: center;

    a {
      text-decoration: none;
      color: #ff4500;
      font-weight: bold;
    }
  }
}
