body {
    background-color: whitesmoke;
    font-family: sans-serif;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#app {
    position: absolute;
    margin: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.egin-task-list {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.egin-task-list-storage-state {
    text-align: right;
}

.egin-task {
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    box-sizing: border-box;

    input[type='text'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        border: none;
        display: block;
        flex-grow: 1;
    }

    input[type='checkbox'] {
        flex-shrink: 0;
    }

    &:not(:last-child):not(.is-header) {
        margin-bottom: -1px;
    }

    &.is-selected:not(.is-header) {
        background-color: #ffffdb;
    }

    &.is-done input[type='text'] {
        text-decoration: line-through;
        color: rgba(0,0,0,0.5);
    }

    &.is-header {
        background-color: transparent;
        border: none;
        margin-top: 1em;
        margin-bottom: .5em;
        font-size: 1em;

        &:first-child {
            margin-top: 0;
        }

        input[type='checkbox'] {
            display: none;
        }

        input[type='text'] {
            font-size: 1.05em;
        }
    }
}

.egin-help {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    h1 {
        text-align: center;
        margin: 0 0 .5em 0;
    }

    > div {
        background-color: whitesmoke;
        padding: 2em;
    }

    &-key {
        border: 1px solid #0000001f;
        background-color: rgba(0,0,0,0.05);
        margin-right: 15px;
        line-height: 1em;
        border-radius: 3px;
        padding: 0 .2em;
        position: relative;

        &:not(:last-child)::after {
            content: '+';
            color: black;
            font-size: .7em;
            position: absolute;
            top: 0;
            right: -13px;
        }
    }

    &-keylist {
        display: flex;
        flex-direction: row;
    }

    &-bind-column {
        text-align: right;
    }

    &-bind-column, &-name-column {
        > div {
            line-height: 1.5em;
        }
    }
}
