body {
    background-color: whitesmoke;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#app {
    position: absolute;
    margin: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.egin-task {
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    box-sizing: border-box;

    input[type='text'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        border: none;
        display: block;
        flex-grow: 1;
    }

    input[type='checkbox'] {
        flex-shrink: 0;
    }

    &:not(:last-child) {
        margin-bottom: -1px;
    }

    &.is-selected {
        background-color: #ffffdb;
    }

    &.is-done input[type='text'] {
        text-decoration: line-through;
        color: rgba(0,0,0,0.5);
    }
}
